/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}
/* CSS variable */
:root {
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
}
/* Navigation Bar  Logo and image */
#logo {
    margin: 3px 31px 4px -23px;
}
#logo img {
    margin: 16px 40px;
    height: 80px;
}
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar {
    position: relative;
}
/*  Navigation Bar List and styling */
#navbar ul {
    display: flex;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3 rem;
}
#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 22px;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: black;
    background-color: white;
}
/* -----------------------------------------------------------------------------------
------------------------------------------------------------------------------ */

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px;
    justify-content: center;
    align-items: center;
    
    
}